body,
html {
    box-sizing: border-box;
    color: white;
    height: 100%;
    width: 100%;
    justify-content: center;
    justify-items: center;
    font-family: 'VT323', monospace;
    font-size: 1.1em;
    font-weight: bold;
    overflow-y: hidden;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0.15em;
}

::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 0.308);
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.glow {
    text-shadow: 0 0 10px #ffffff69;
}

#mainMenu{
	height: 100%;
	align-content: space-around;
	background-image: radial-gradient(rgb(0 0 0 / 60%), black 80%);
	color: white;
	overflow-y: hidden;
	overflow-x: hidden;
}

#mainMenuLogo{
	width: 50%;
	margin-left: 25%;
}

#mainMenu:before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(to bottom,
			rgba(18, 16, 16, 0) 50%,
			rgba(0, 0, 0, 0.25) 50%);
	background-size: 100% 5px;
	z-index: 2;
	pointer-events: none;
}

#display {
    font-size: 1.6em !important;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#mainContainer {
    background-image: radial-gradient(rgb(0 0 0 / 60%), black 80%);
    margin: 0;
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
}

@keyframes textShadow {
    0% {
        text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5), -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }
    5% {
        text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5), -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }
    /** etc */
}

#mainContainer:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
    background-size: 100% 5px;
    z-index: 2;
    pointer-events: none;
}

#headers {
    justify-content: space-between;
    flex: 0.1;
    font-size: 2.3em;
    align-items: flex-end;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 2em !important;
    padding-right: 2em !important;
    width: 100%;
}

#menus {
    flex: 1;
    border-right: 0.1em solid whitesmoke;
    background: none;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

button.option {
    font-size: 2.1em;
    color: white;
    width: 100%;
    box-shadow: none;
    outline: none;
    border: none;
    background: none;
}

button.DSNoption {
    font-size: 0.8em;
    color: white !important;
    white-space: nowrap;
    vertical-align: bottom;
}

button.option:hover {
    background-color: rgba(245, 245, 245, 0.281);
}

#mainWidget {
    flex: 0.8;
    border: 0.1em solid whitesmoke;
    overflow-y: hidden;
}

#footers {
    font-size: 2.3em;
    flex: 0.05;
    justify-content: space-between;
}

#start-menu {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0.5em;
    margin: 10em auto auto auto;
    width: 20%;
    border: 0.05em dashed white;
}

#start-menu button {
    max-width: 90%;
    margin: .2em auto;
}

fieldset.package {
    text-rendering: geometricPrecision;
    display: block;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
    border: 0.1em dashed white;
}

.packageTitle {
    box-sizing: border-box;
    font-size: 1.6em !important;
    color: inherit;
    font-family: 'VT323', monospace !important;
    display: table;
    padding-left: 0.2em;
    padding-right: 0.2em;
    width: auto;
    white-space: normal;
}

img.planeta {
    width: 1.3em;
    height: 8%;
}

img {
    width: 128px;
    height: 128px;
}

textarea.package {
    width: 100%;
    color: white;
    min-height: 30rem;
    font-family: 'VT323', monospace !important;
    font-size: 1.7rem;
    background: none;
    line-height: 1.2;
    border: none;
    cursor: default;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

textarea:focus {
    outline: none;
}

img.DSNmanual {
    height: 30%;
    width: 30%;
}

img.TESS {
    height: 50%;
    width: 50%;
}

img.antenna {
    width: 100%;
    height: auto !important;
}

.btn-terminal {
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    font-size: 1em;
    font-family: inherit;
    position: relative;
    z-index: 1;
    background: none;
    border-color: #fff;
    color: white;
    box-shadow: none;
    outline: none;
}

.btn-terminal:hover {
    background-color: whitesmoke;
    color: black;
}

.btn-terminal:active,
.btn-terminal:focus {
    outline: none;
}

.progress {
    background: none;
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
}

.progress-bar {
    border-radius: 0px;
    background-color: white;
}

.stageChangesContainer {
    justify-content: space-around;
    align-items: center;
}