body,
html {
	box-sizing: border-box;
	color: white;
	height: 100%;
	width: 100%;
	justify-content: center;
	justify-items: center;
	font-family: 'VT323', monospace;
	font-size: 1.1em;
	font-weight: bold;
	overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0.308);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;

}

.glow{
	text-shadow: 0 0 10px #ffffff69;
}

#display{
	font-size: 1.6em !important;
	height: 100%;
    overflow-y: scroll;
}

#mainContainer {
	background-image: radial-gradient(rgb(0 0 0 / 60%), black 80%);
	margin: 0;
	color: white;
	overflow-y: hidden;
}


@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  /** etc */
}


#mainContainer:before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(to bottom,
			rgba(18, 16, 16, 0) 50%,
			rgba(0, 0, 0, 0.25) 50%);
	background-size: 100% 3px;
	z-index: 2;
	pointer-events: none;
}


#headers {
	justify-content: space-between;
	flex: 0.1;
  font-size: 2.3em;
  align-items: flex-end;
}

#mainContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	padding-left: 2em !important;
	padding-right: 2em !important;
	width: 100%;
}

#menus {
	flex: 1;
	border-right: 0.1em solid whitesmoke;
	background: none;
	padding: 0px;
	margin: 0px;
	overflow-y: auto;
}

button.option {
	font-size: 2.1em;
	color: white;
	width: 100%;
	box-shadow: none;
	outline: none;
	border: none;
	background: none;

}

button.option:hover{
	background-color: rgba(245, 245, 245, 0.281);
}

#mainWidget {
	flex: 0.8;
	border: 0.1em solid whitesmoke;
	overflow-y: hidden;
}

#footers {
  font-size: 2.3em;
	flex: 0.05;
	justify-content: space-between;
}

.package{
	text-rendering: geometricPrecision;
	display: block;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
	border: 0.1em dashed white;
}

.packageTitle{
	box-sizing: border-box;
	font-size: 1.6em !important;
    color: inherit;
	font-family: 'VT323', monospace !important;
    display: table;
	padding-left: 0.2em;
	padding-right: 0.2em;
	width: auto;
    white-space: normal;
}

img {
	max-width: 8%;
	max-height: 8%;
}

img.satellite {
	max-width: 25%;
	max-height: 25%;
}

img.flags {
	max-width: 25%;
	max-height: 25%;
}